<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bladder conditions</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
    <style>
        body{
            margin-top: -40px;
        }
    </style>
</head>
<body>
    <div class="sidenav">
        <h1 class="bladdercon">Bladder conditions</h1>
        <h2>
        <span class="mainames">
            <div><a href="#t1">Urinary Tract Infections (UTI)</a></div>
        <div><a href="#t2">Bladder Cancer</a></div>
        <div><a href="#t3">Urinary Incontinence</a></div>
        <div><a href="#t4">Interstitial Cystitis</a></div>
        </span>
        </h2>
    </div>

    <div class="content">
        

    <div id="t1">
        <h2>Urinary Tract Infections (UTI)</h2>
        Urinary tract infections (UTIs) are the second most common kind of infection (after chest infections). The urinary tract is made up of the kidneys, ureters (the tubes from the kidneys to the bladder), the bladder and the urethra (the tube which expels urine from the bladder). It is the system by which urine is created and passed out of the body.
The most common cause of a UTI is when bacteria from the rectal passage enter the urinary tract, usually through the urethra. This happens more often in women because a woman's urethra opening is closer to the anus than in men. Around 50% of all women develop a UTI at some stage. In men, cystitis is often associated with infection and inflammation of the prostate gland (prostatitis).

<div>
    <h4>Symptoms</h4>
<ul>
    Once the infection is in the urethra, it can move up to the bladder (cystitis). If it is not treated quickly, the infection can continue up the ureters to the kidneys. Bacteria can also enter the kidneys through the bloodstream. An infection of the kidneys is a serious condition that can lead to damage and scarring of the kidneys. This condition is known as pyelonephritis.
Another source of infection is via catheters. Catheters are tubes that are inserted into the urethra, for example to manage incontinence. Despite precautions, inserting a catheter can introduce bacteria into the urethra and lead to infection.
Most people with a UTI will experience some of the following symptoms, although not everyone has the same symptoms:

<div class="disnames">
    <li>A need to pass urine more often</li>
<li>Pain or burning sensation on passing urine</li>
<li>General feeling of being unwell, tired, weak and lethargic</li>
<li>In women, an uncomfortable pressure above the pubic bone</li>
<li>In men, a sensation of fullness in the rectum</li>
<li>Despite going to the toilet more often, only a small amount of urine is passed each time</li>
<li>Cloudy or reddish urine if blood is present</li>
<li>If the infection has reached the kidneys, other symptoms could include fever, pain in the back or side below the ribs, nausea or vomiting.</li>
</div>
In children, symptoms can be more easily overlooked. If the child seems irritable, is not eating normally, has a fever that does not go away or has incontinence, he or she should be seen by a doctor.


</ul>
</div>
    </div>
 
<div id="t2">
    <h2>Bladder Cancer</h2>
Bladder cancer mostly affects people who are over 50 and is twice as likely to occur in men as in women. In the UK, over 10,000 new cases of bladder cancer are diagnosed each year, making it the fourth most common cancer in men and the 12th most common in women. Nearly 5000 people die from bladder cancer each year.
Bladder cancer occurs when cells in the bladder divide and grow in an abnormal way. These extra cells can form a mass of tissue called a growth or tumor, affecting how the bladder works.

<div>
    <h4>Symptoms</h4>
  <li>Blood in the urine (the most common symptom, known as haematuria)</li>
<li>Rarely any pain.</li>
<li>Urine varies from rusty brown to deep red. This may not be the case every time you urinate and can sometimes disappear for weeks or months.
</li>
<li>The amount of blood is not related to the extent of the cancer</li>
<li>Can also indicate other conditions, such as an infection or kidney stones</li>
<li>Pain or obstruction to the flow of urine if blood clots form</li>
<li>Increased frequency of urination</li>
<li>Feeling the need to urinate but without any urine coming through</li>
If you have any of the symptoms mentioned above, you should see your GP as soon as possible for a full diagnosis
</div>
</div>
<div id="t3">
    <h2>Urinary Incontinence</h2>
    The bladder usually stores urine until you choose to empty it. Urinary incontinence occurs when you pass water involuntarily. It can happen to people at any age. In the United Kingdom, at least 3 million adults cannot control their bladders as they would wish.
The condition affects far more women than men. It affects one in five women over 40 years old. Although incontinence is not a life-threatening problem, it can be very embarrassing for those who suffer from it, severely affecting confidence.

    <div>
        <h4>Symptoms</h4>
        The main symptom of incontinence is involuntary loss of urine, but the circumstances can vary depending on the type of incontinence you have.
         <h4>Urge incontinence (also known as Overactive Bladder) 
        </h4>
        <li>Happens when your bladder contracts without you wanting it to.</li>
    <li>You may get an urgent feeling that you want to urinate and may get some leakage</li>
    <h4>Stress incontinence</h4>
<li>May happen when you cough, sneeze, laugh or exercise vigorously</li>
<li>The pressure on your abdomen may cause you to leak urine</li>
<li>This type of incontinence mostly affects women and is thought to be due to the stretching of the muscles from childbirth or ageing</li>
<li>In men, stress incontinence is usually associated with surgery</li>
<h4>Mixed incontinence</h4>
<li>Usually a combination of urge and stress incontinence</li>
<h4>Overflow incontinence</h4>
<li>Occurs when the bladder overfills because it is not emptied properly (e.g. because the muscles controlling bladder emptying are too weak or the urethra is blocked)</li>
<li>Pressure causes urine to overflow into the urethra, leading to continuous leakage</li>
<li>As an enlarged prostate is one of the most common causes of a blocked urethra, overflow incontinence affects more men than women</li>
<li>People with diabetes, heavy alcohol consumers, and people with decreased nerve function are also at risk</li>
Sometimes you may leak urine without any warning at all. This is the most common type of incontinence in children who have a day or night wetting problem, and in the elderly. It can also occur at other ages, in a variety of circumstances

</div>
    
</div>
 <br>
<div id="t4">
    <h2>Interstitial Cystitis</h2>
    Interstitial cystitis affects both genders, though 9 out of 10 cases are found in women. Up to 75% of those affected are over the age of 30. It's also found in a growing number of children.
    Interstitial cystitis is caused by inflammation of the bladder lining. It is also known as painful bladder syndrome, chronic pelvic pain syndrome and frequency-urgency-dysuria syndrome.
    Normally, the bladder wall has a lining that protects it from toxins in the urine. In people with interstitial cystitis, this protective layer breaks down, allowing toxins to irritate the bladder wall. The bladder then becomes inflamed and tender and does not store urine properly.
    <div>
    <h4>Symptoms</h4>
    Interstitial cystitis is different from common cystitis, which is an inflammation of the bladder caused by bacterial infection and is usually easily treated with antibiotics. No-one really knows what causes interstitial cystitis and it does not respond to antibiotics. Although there is no cure for interstitial cystitis, most patients find some relief with treatment and lifestyle changes.
    Interstitial cystitis is difficult to diagnose. Sufferers sometimes see several doctors over the course of a few years before a diagnosis is made. Symptoms of interstitial cystitis are present all of the time and can include any of the following:
    <li>Frequency: the need to urinate often, day or night, up to 60 times a day in severe cases</li>
<li>Urgency: feeling the need to urinate at once, often with pain, pressure or spasms.</li>
<li>General pain in the abdomen, urethra or vaginal area or during sexual intercourse</li>
Symptoms usually worsen over the first 5 years and then level off. After this, you may have periods when symptoms lessen, followed by bad times, where the symptoms flare up.
</div>
</div>
 <br>
<div>
    
</div>
</div>
<br>
    </div>
</body>
</html>