<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digestive system Diseases</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
</head>
<body>
    <div class="sidenav">
        <h1 class="digdis">Digestive system Diseases</h1>
        <h2>
        <span class="mainames">
            <div><a href="#t1">Gastroesophageal Reflux Disease (GERD)</a></div>
        <div><a href="#t2">Gallstones</a></div>
        <div><a href="#t3">Celiac Disease</a></div>
        <div><a href="#t4">Crohn’s Disease</a></div>
        <div><a href="#t5">Ulcerative Colitis</a></div>
        </span>
        </h2>
    </div>

    <div class="content">
        Most people don’t like to talk about it, but having a gastrointestinal problem is common.
There’s no need to suffer in silence, though. Here’s a top-to-bottom look at nine of the most prevalent digestive conditions, symptoms, and the most effective treatments available. If you suspect you have one of these issues, don't delay in speaking with a healthcare professional.


    <div id="t1">
        <h2>Gastroesophageal Reflux Disease (GERD)
        </h2>
        When stomach acid backs up into your esophagus — a condition called acid reflux — you may feel a burning pain in the middle of your chest. It often occurs after meals or at night, says Neville Bamji, MD, a clinical instructor of medicine at the Icahn School of Medicine at Mount Sinai and a gastroenterologist with New York Gastroenterology Associates.
While it’s common for people to experience acid reflux and heartburn once in a while, having symptoms that affect your daily life or occur at least twice each week could be a sign of GERD, a chronic digestive disease that affects 20 percent of Americans, according to the National Institute of Diabetes and Digestive and Kidney Diseases (NIDDK). If you experience persistent heartburn, bad breath, tooth erosion, nausea, pain in your chest or upper part of your abdomen, or have trouble swallowing or breathing, see your doctor.
Most people find relief by avoiding the foods and beverages that trigger their symptoms and/or taking over-the-counter antacids or other medication that reduces stomach acid production and inflammation of the esophagus. In addition, lifestyle changes like elevating the head of the bed, not lying down after a meal, avoiding tight-fitting clothing, and quitting smoking can also help. However, some cases of GERD require stronger treatment, such as medication or surgery.
<div>
    <h4>Symptoms</h4>
<ul>
    
<li>Heartburn</li>    
<li>Regurgitation (food comes back into your mouth from the esophagus).
</li>
<li>The feeling of food caught in your throat</li>
<li>Coughing.</li>
<li>Chest pain</li>
<li>Problem swallowing</li>
<li>Vomiting</li>
<li>Sore throat and hoarseness</li>

</ul>
</div>
    </div>
 
<div id="t2">
    <h2>Gallstones
</h2>
Gallstones are hard deposits that form in your gallbladder — a small, pear-shaped sac that stores and secretes bile for digestion. Nearly one million Americans are found to have gallstones every year, according to the American Gastroenterological Association. Gallstones can form when there’s too much cholesterol or waste in your bile, or if your gallbladder doesn’t empty properly.
When gallstones block the ducts leading from your gallbladder to your intestines, they can cause sharp pain in your upper-right abdomen. Medication sometimes dissolves gallstones, but if that doesn’t work, the next step is surgery to remove the gallbladder. 
<div>
    <h4>Symptoms</h4>
    
<li>Sudden and rapidly intensifying pain in the upper right portion of your abdomen.
</li>
<li>Sudden and rapidly intensifying pain in the center of your abdomen, just below your breastbone.
</li>
<li>Back pain between your shoulder blades.</li>
<li>Pain in your right shoulder</li>
<li>Nausea or vomiting</li>

</div>
</div>
<div id="t3">
    <h2>Celiac Disease</h2>
    An estimated 1 in 133 Americans — about 1 percent of the population — has celiac disease, according to Beyond Celiac (formerly the National Foundation for Celiac Awareness). The group also estimates that more than 80 percent of people with celiac disease don’t know they have it or have been misdiagnosed with a different condition.
Celiac disease is a serious sensitivity to gluten, which is a protein found in wheat, rye, and barley. Eat gluten, and your immune system goes on the attack: It damages your villi, the fingerlike protrusions in your small intestines that help you absorb nutrients from the foods you eat. In children, symptoms may include abdominal pain and bloating, diarrhea, constipation, vomiting, and weight loss. Symptoms in adults can also include anemia, fatigue, bone loss, depression, and seizures.
Yet some people may not have any symptoms. The only treatment for celiac disease is to completely avoid eating gluten. Common alternatives to gluten include brown rice, quinoa, lentils, soy flour, corn flour, and amaranth.

    <div>
        <h4>Symptoms</h4>
    <li>Diarrhea
</li>
    <li>Fatigue
</li>
    <li>Weight loss
</li>
    <li>Bloating and gas</li>
    <li>Abdominal pain</li>
    <li>Nausea and vomiting</li>
 <li>Constipation</li>   
 

    </div>
    
</div>
 <br>
<div id="t4">
    <h2>Crohn’s Disease</h2>
    Crohn’s disease is part of a group of digestive conditions called inflammatory bowel disease (IBD). Crohn’s can affect any part of the GI tract but most commonly affects the terminal ileum, which connects the end of the small bowel and the beginning of the colon. As many as 780,000 Americans may be affected by Crohn’s, according to the Crohn’s & Colitis Foundation (CCFA).
    Doctors aren't sure what causes the disease, but it's thought that genetics and family history may play a part. The most common Crohn's symptoms are abdominal pain, diarrhea, rectal bleeding, weight loss, and fever. “Treatment depends on the symptoms and can include topical pain relievers, immunosuppressants, and surgery,” Dr. Bamji says. Avoiding trigger foods like dairy products, carbonated beverages, alcohol, coffee, raw fruit and vegetables, red meat, and foods that are fatty, fried, spicy, or gas-producing can also help prevent flares.<div>
    <h4>Symptoms</h4>
<li>Fatigue</li>
<li>Diarrhea</li>
<li>Fever
</li>
<li>Abdominal pain and cramping
</li>
<li>Blood in your stool</li>
<li>Mouth sores</li>
<li>Reduced appetite and weight loss</li>
<li>Pain or drainage near or around the anus due to inflammation from a tunnel into the skin (fistula)</li>
</div>
</div>
 <br>
<div id="t5">
    <h2>Ulcerative Colitis</h2>
    Ulcerative colitis is another inflammatory bowel disease that may affect as many as 907,000 Americans, according to the CCFA. The symptoms of ulcerative colitis are very similar to those of Crohn's, but the part of the digestive tract affected is solely the large intestine, also known as the colon.
If your immune system mistakes food or other materials for invaders, sores or ulcers develop in the colon’s lining. If you experience frequent and urgent bowel movements, pain with diarrhea, blood in your stool, or abdominal cramps, visit your doctor.
Medication can suppress the inflammation, and eliminating foods that cause discomfort may help as well. In severe cases, treatment for ulcerative colitis may involve surgery to remove the colon.

<div>
    <h4>
        Symptoms
    </h4>

<li>Weight loss</li>
<li>Fatigue</li>
<li>Inability to defecate despite urgency</li>
<li>Urgency to defecate</li>
<li>Rectal bleeding — passing a small amount of blood with stool</li>
<li>Rectal pain</li>
<li>Abdominal pain and cramping</li>
<li>Diarrhea, often with blood or pus</li>


</div>
</div>
<br>
    </div>
</body>
</html