<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Female reproductive system Diseases</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
    <style>
        body{
            margin-top: -40px;
        }
    </style>
</head>
<body>
    <div class="sidenav">
        <h1 class="bladdercon">Female reproductive system Diseases</h1>
        <h2>
        <span class="mainames">
            <div><a href="#t1">Interstitial Cystitis</a></div>
        <div><a href="#t2">Polycystic Ovary Syndrome (PCOS)</a></div>
        <div><a href="#t3">Uterine fibroids</a></div>
        <div><a href="#t4">Gynecologic Cancer</a></div>
        <div><a href="#t5">Pulmonary Stenosis</a></div>
        </span>
        </h2>
    </div>

    <div class="content">
        
    <div id="t1">
        <h2>Interstitial Cystitis</h2>
        Interstitial cystitis (IC) is a chronic bladder condition resulting in recurring discomfort or pain in the bladder or surrounding pelvic region. People with IC usually have inflamed or irritated bladder walls that can cause scarring and stiffening of the bladder. IC can affect anyone; however, it is more common in women than men
<div>
    <h4>Symptoms</h4>
<ul>
    Some people have some or none of the following symptoms:
   <li>Abdominal or pelvic mild discomfort</li>
   <li>Frequent urination</li>
   <li>A feeling of urgency to urinate</li>
   <li>Feeling of abdominal or pelvic pressure</li>
   <li>Tenderness</li>
   <li>Intense pain in the bladder or pelvic region</li>
   <li>Severe lower abdominal pain that intensifies as the urinary bladder fills or empties</li>

</ul>
</div>
    </div>
 
<div id="t2">
    <h2>Polycystic Ovary Syndrome (PCOS)
</h2>
Polycystic ovary syndrome happens when a woman’s ovaries or adrenal glands produce more male hormones than normal. One result is that cysts (fluid-filled sacs) develop on the ovaries. Women who are obese are more likely to have PCOS. Women with PCOS are at increased risk of developing diabetes and heart disease. 
<div>
    <h4>Symptoms</h4>
    Symptoms may include
    <li>Infertility
    </li>
    <li>Pelvic pain</li>
    <li>Excess hair growth on the face, chest, stomach, thumbs, or toes</li>
    <li>Baldness or thinning hair</li>
    <li>Acne, oily skin, or dandruff</li>
    <li>Patches of thickened dark brown or black skin</li>
</div>
</div>
<div>
    <h2 id="t3">Uterine fibroids </h2>
    Uterine fibroids are the most common noncancerous tumors in women of childbearing age. Fibroids are made of muscle cells and other tissues that grow in and around the wall of the uterus, or womb. The cause of fibroids is unknown. Risk factors include being African-American or being overweight.
    <div>
        <h4>Symptoms</h4>
        The symptoms of fibroids include
        <li>Heavy or painful periods or bleeding between periods</li>
        <li>Feeling “full” in the lower abdomen</li>
        <li>Urinating often</li>
        <li>Pain during sex</li>
        <li>Lower back pain</li>
        <li>Reproductive problems, such as infertility, multiple miscarriages, or early labor</li>
        But some women will have no symptoms. That is why it is important to see your health care provider for routine exams.

    </div>
    
</div>
 <br>
<div id="t4">
    <h2>Gynecologic Cancer</h2>
    CDC provides information and educational materials for women and health care providers to raise awareness about the five main gynecologic cancers. Gynecologic cancer is any cancer that starts in a woman’s reproductive organs. Gynecologic cancers begin in different places within a woman’s pelvis, which is the area below the stomach and in between the hip bones.
   <li>Cervical cancer begins in the cervix, which is the lower, narrow end of the uterus.
</li>
   <li>Ovarian cancer begins in the ovaries, which are located on each side of the uterus.</li>
   <li>Uterine cancer begins in the uterus, the pear-shaped organ in a woman’s pelvis where the baby grows when a woman is pregnant.
</li>
   <li>Vaginal cancer begins in the vagina, which is the hollow, tube-like channel between the bottom of the uterus and the outside of the body.
</li>
   <li>Vulvar cancer begins in the vulva, the outer part of the female genital organs.
</li>
   
    <div>
    <h4>Symptoms</h4>
<li>Pelvic pain or pressure.</li>
<li>Itching or burning of the vulva</li>
<li>Changes in vulva color or skin (rash, sores, warts, or ulcers)</li>
<li>Changes in bathroom habits (increased urination, constipation, or diarrhea)
</li>
<li>Bloating</li>
<li>Abnormal vaginal bleeding or discharge</li>
<li>Pain in the back or stomach</li>



</div>
</div>
 <br>
<div id="t5">
    <h2>HIV/AIDS</h2>
   <li>HIV and Breastfeeding</li> 
    HIV can be spread through breast milk, so mothers in the US who have HIV should not breast-feed their babies.
    HIV is the human immunodeficiency virus. HIV affects specific cells of the immune system (called CD4 cells). Over time, HIV can destroy so many of these cells that the body can’t fight off infection anymore. The human body cannot get rid of HIV—that means once a person has HIV, he or she has it for life. There is no cure at this time, but with proper medical care, the virus can be controlled. HIV is the virus that can lead to acquired immune deficiency syndrome, or AIDS. AIDS is the late stage of HIV infection, when a person’s immune system is severely damaged.
    <li>HIV in Women</li>
    Women who are infected with HIV typically get it by having sex with a man who is infected or by sharing needles with an infected person. Women of minority races/ethnicities are especially affected, and black or African American women are the most affected group.
    <li>Pregnant Women</li>
    All pregnant women should know their HIV status. Pregnant women who are HIV-positive can work with their health care providers to ensure their babies do not contract HIV during pregnancy, delivery, or after delivery (through breast milk). It is possible for a mother to have HIV and not spread it to her baby, especially if she knows about her HIV status early and works with her health care provider to reduce the risk.
    <div>

    <h4>Symptoms</h4>
    Possible signs and symptoms include: 
<li>Fever</li>
<li>Headache.</li>
<li>Muscle aches and joint pain</li>
<li>Rash</li>
<li>Sore throat and painful mouth sores</li>
<li>Swollen lymph glands, mainly on the neck</li>
<li>Diarrhea</li>
<li>Weight loss</li>
</div>
</div>
<br>
    </div>
</body>
</html>