<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kidney conditions</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
</head>
<body>
    <div class="sidenav">
        <h1 class="heartdis">Kidney conditions</h1>
        <h2>
        <span class="mainames">
            <div><a href="#t1">Kidney failure</a></div>
        <div><a href="#t2">Kidney stones</a></div>
        <div><a href="#t3">Kidney cancer</a></div>
        <div><a href="#t4">Chronic kidney disease</a></div>
        </span>
        
        </h2>
    </div>

    <div class="content">
        The kidneys are a pair of fist-sized organs located at the bottom of the rib cage. There is one kidney on each side of the spine.
Kidneys are essential to having a healthy body. They are mainly responsible for filtering waste products, excess water, and other impurities out of the blood. These toxins are stored in the bladder and then removed during urination. The kidneys also regulate pH, salt, and potassium levels in the body. They produce hormones that regulate blood pressure and control the production of red blood cells. The kidneys even activate a form of vitamin D that helps the body absorb calcium.
Kidney disease affects approximately 26 million American adults. It occurs when your kidneys become damaged and can’t perform their function. Damage may be caused by diabetes, high blood pressure, and various other chronic (long-term) conditions. Kidney disease can lead to other health problems, including weak bones, nerve damage, and malnutrition.
If the disease gets worse over time, your kidneys may stop working completely. This means that dialysis will be required to perform the function of the kidneys. Dialysis is a treatment that filters and purifies the blood using a machine. It can’t cure kidney disease, but it can prolong your life.


    <div id="t1">
        <h2>Kidney failure</h2>
        One of the kidneys key functions is to get rid of waste products from the body. If they stop working properly, waste products can build up. This is known as kidney, or renal, failure. It can happen very quickly, over a few days, weeks or months (known as acute renal failure) or very slowly over a period of years (chronic renal failure)
<div>
    <h4>Symptoms</h4>
<ul>
    <h4>Acute renal failure</h4>
<li>Often triggered by serious illness or an operation.</li>
<li>Also happens following blood loss, a fall in blood pressure or severe dehydration.</li>
<li>If the problem lasts long enough, the kidneys can become permanently damaged</li>
<h4>Chronic renal failure</h4>
<li>Can result from any disease that causes a gradual loss of kidney function</li>
<li>Diabetes and hypertension (high blood pressure) are the two most common causes.</li>
<li>Other causes include glomerulonephritis of any type, polycystic kidney disease, ongoing blockage of the ureter, kidney stones, infection and kidney damage from long-term painkiller use.</li>
In both cases, if left untreated kidney failure can be life-threatening.
<h3>Symptoms vary depending on the type of kidney failure.
</h3>
<h4>Acute renal failure:</h4>
<li>Less frequent urination, with smaller amounts of urine</li>
<li>Swollen ankles, feet or legs
</li>
<li>Drowsiness, lethargy and changes in mood
</li>
<li>Nausea and vomiting</li>
<li>Prolonged bleeding
</li>
<h4>Chronic renal failure</h4>
In the case of chronic renal failure, the problem is usually not identified at an early stage and so has been going on for some time. It is often discovered on routine examinations of the blood and urine. Symptoms may not be noticed until the kidney failure is very advanced. Symptoms include:
<li>Tiredness</li>
<li>General itching</li>
<li>Loss of appetite</li>
<li>Nausea and vomiting</li>
<li>Breathlessness
</li>
<li>Fluid retention (ankle swelling)</li>
<li>Weakness</li>
<li>Frequent urination, especially at night</li>
<li>Weight loss</li>
<li>Headache</li>
<li>Different urine output from normal (either increased or decreased)</li>
<li>Muscle twitching</li>

</ul>
</div>
    </div>
 
<div id="t2">
    <h2>Kidney stones</h2>
Sometimes urine contains so much waste material that it crystallizes to form small stones in the kidney. Most people's urine contains chemicals that stop the crystals from forming. However, in some cases, these chemicals do not work efficiently.
The most common cause of kidney stones is not drinking enough fluids. They also develop through urinary tract infections and prolonged bed rest.

<div>
    <h4>Symptoms</h4>
    Most stones start off the size of a small piece of gravel and can even pass out of the body unnoticed. If the stones are large they can become very painful. However, it can take years before they grow to a size that is big enough to cause symptoms.
Larger stones, or fragments of stones, can travel down the ureter (the tube from the kidneys to the bladder). This can cause extremely painful spasms of the wall of the ureter, referred to as renal colic. Symptoms can appear suddenly, including:
<li>Excruciating pain starting in the back and spreading to the abdomen, groin and even down to the genitals, that causes an inability to remain still.
</li>
<li>Frequent, painful urination</li>
<li>Nausea, vomiting, that may be accompanied by fever</li>
<li>Blood in your urine</li>

</div>
</div>
<div id="t3">
    <h2>Kidney cancer</h2>
    Every year, nearly 8,500 people are diagnosed with kidney cancer, and more than 3,500 people die from the disease.
It affects twice as many men as women and is most common in middle-aged and older people, although there is an uncommon form (Wilms' tumor, also known as nephroblastoma) that affects very young children.

    <div>
        <h4>Symptoms</h4>
        Kidney cancer occurs when cells begin to grow and divide abnormally, forming a lump, or tumor. Tumors can be either benign or malignant. Benign tumors do not spread to other parts of the body, although they can press on surrounding organs, affecting their function. Malignant tumors can spread. Sometimes cells break off from the original tumor and spread to other organs in the body through the bloodstream or lymphatic system, growing new tumors there.
        The underlying cause of kidney cancer is rarely discovered. Usually only one kidney is affected
        Kidney cancer is often discovered by chance when a patient who has no symptoms has a scan or ultrasound for some other reason. Noticeable symptoms can include:
        <li>Blood in the urine</li>
        <li>Painful spasms in the groin or abdomen (due to blood clots forming)
        </li>
        <li>A lump in your abdomen</li>
        <li>Dull ache in your side</li>
        <li>Persistent high fever</li>
        <li>High blood pressure</li>
        <li>Weight loss</li>
        

    </div>
    
</div>
 <br>
<div id="t4">
    <h2>Chronic kidney disease</h2>
    The most common form of kidney disease is chronic kidney disease. Chronic kidney disease is a long-term condition that doesn’t improve over time. It’s commonly caused by high blood pressure.
    High blood pressure is dangerous for the kidneys because it can increase the pressure on the glomeruli. Glomeruli are the tiny blood vessels in the kidneys where blood is cleaned. Over time, the increased pressure damages these vessels and kidney function begins to decline.
    Kidney function will eventually deteriorate to the point where the kidneys can no longer perform their job properly. In this case, a person would need to go on dialysis. Dialysis filters extra fluid and waste out of the blood. Dialysis can help treat kidney disease but it can’t cure it. A kidney transplant may be another treatment option depending on your circumstances.
    Diabetes is also a major cause of chronic kidney disease. Diabetes is a group of diseases that causes high blood sugar. The increased level of sugar in the blood damages the blood vessels in the kidneys over time. This means the kidneys can’t clean the blood properly. Kidney failure can occur when your body becomes overloaded with toxins.
    <div>
    <h3>Glomerulonephritis</h3>
    Glomerulonephritis is an inflammation of the glomeruli. Glomeruli are extremely small structures inside the kidneys that filter the blood. Glomerulonephritis can be caused by infections, drugs, or congenital abnormalities (disorders that occur during or shortly after birth). It often gets better on its own.
<h3>Polycystic kidney disease</h3>
Polycystic kidney disease is a genetic disorder that causes numerous cysts (small sacs of fluid) to grow in the kidneys. These cysts can interfere with kidney function and cause kidney failure. (It’s important to note that individual kidney cysts are fairly common and almost always harmless. Polycystic kidney disease is a separate, more serious condition.)
<h3>Urinary tract infections
</h3>
Urinary tract infections (UTIs) are bacterial infections of any part of the urinary system. Infections in the bladder and urethra are the most common. They are easily treatable and rarely lead to more health problems. However, if left untreated, these infections can spread to the kidneys and cause kidney failure.
<h2>What are the symptoms of kidney disease?
</h2>
Kidney disease is a condition that can easily go unnoticed until the symptoms become severe. The following symptoms are early warning signs that you might be developing kidney disease:
<li>fatigue</li>
<li>difficulty concentrating
</li>
<li>trouble sleeping
</li>
<li>poor appetite
</li>
<li>muscle cramping</li>
<li>swollen feet/ankles
</li>
<li>puffiness around the eyes in the morning
</li>
<li>dry, scaly skin</li>
<li>frequent urination, especially late at night</li>
<h4>Severe symptoms that could mean your kidney disease is progressing into kidney failure include:
</h4>
<li>nausea
</li>
<li>vomiting</li>
<li>loss of appetite</li>
<li>changes in urine output</li>
<li>fluid retention
</li>
<li>anemia (a decrease in red blood cells)</li>
<li>decreased sex drive</li>
<li>sudden rise in potassium levels (hyperkalemia)
</li>
<li>inflammation of the pericardium (fluid-filled sac that covers the heart)</li>



</div>
</div>
 <br>
<div>
   
</div>
</div>
<br>
    </div>
</body>
</html>