<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liver Diseases</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
</head>
<body>
    <div class="sidenav">
        <h1 class="heartdis">Liver Diseases</h1>
        <h2>
        <span class="mainames">
        <div><a href="#t1">Hepatitis</a></div>
        <div><a href="#t2">Fatty liver disease</a></div>
        <div><a href="#t3">Liver cancer</a></div>
        <div><a href="#t4">Cirrhosis</a></div>
        <div><a href="#t5">Liver failure</a></div>
        </span>
        </h2>
    </div>

    <div class="content">
        Your liver is a vital organ that performs hundreds of tasks related to metabolism, energy storage, and waste filtering. It helps you digest food, convert it to energy, and store the energy until you need it. It also helps filter toxic substances out of your bloodstream.
Liver disease is a general term that refers to any condition affecting your liver. These conditions may develop for different reasons, but they can all damage your liver and affect its function.


    <div id="t1">
        <h2>Hepatitis</h2>
        Hepatitis is defined as an inflammation of the liver. When that inflammation is caused by a virus, it’s referred to as viral hepatitis. Hepatitis can cause liver damage, making it difficult for your liver to function as it should.
Most types of viral hepatitis are contagious, but you can reduce your risk by getting vaccinated for types A and B and by taking other preventive steps, including using a condom during sex and not sharing needles.
Five types of hepatitis include:
<li>Hepatitis A. Hepatitis A is typically spread through contact with contaminated food or water. Symptoms may clear up without treatment, but recovery can take a few weeks.</li>
<li>Hepatitis B. This type of viral hepatitis can be acute (short-term) or chronic (long-term). It’s spread through bodily fluids, such as blood and semen. While hepatitis B is treatable, there’s no cure for it. Early treatment is key to avoiding complications, so it’s best to get regular screenings if you’re at risk.
</li>
<li>Hepatitis C. Hepatitis C can also be acute or chronic. It’s often spread through contact with blood from someone with hepatitis C. While it often doesn’t cause symptoms in its early stages, it can lead to permanent liver damage in its later stages.
</li>
<li>Hepatitis D. This is a serious form of hepatitis that only develops in people with hepatitis B — it can’t be contracted on its own. It can also be either acute or chronic.</li>
<li>Hepatitis E. Hepatitis E is usually caused by drinking contaminated water. Generally, it clears up on its own within a few weeks without any lasting complications.</li>
<div>
    <h4>Symptoms</h4>
    Symptoms of hepatitis can include:
<ul>
    <li>fever</li>
    <li>fatigue</li>
    <li>loss of appetite</li>
    <li>nausea</li>
    <li>vomiting</li>
    <li>abdominal pain</li>
    <li>dark urine</li>
    <li>light-colored stools</li>
    <li>joint pain</li>
    <li> jaundice</li>

</ul>
</div>
    </div>
 
<div id="t2">
    <h2>Fatty liver disease
</h2>
Fat buildup in the liver can lead to fatty liver disease.
There are two types of fatty liver disease. These two types can manifest alone, or they can overlap:
<li>alcoholic fatty liver disease, which is caused by heavy alcohol consumption</li>
<li>nonalcoholic fatty liver disease, which is caused by other factors experts are still trying to understand</li>
Without management, both types of fatty liver disease can cause liver damage, leading to cirrhosis and liver failure. Diet and other lifestyle changes can often improve symptoms and lower your risk of complications.
<div>
    <h4>Symptoms</h4>
    <li>Abdominal pain or a feeling of fullness in the upper right side of the abdomen (belly).
    </li>
    <li>Nausea, loss of appetite or weight loss.</li>
    <li>Yellowish skin and whites of the eyes (jaundice).
    </li>
    <li>Swollen abdomen and legs (edema).</li>
    <li>Extreme tiredness or mental confusion.
    </li>
    <li>Weakness.
    </li>

</div>
</div>
<div id="t3">
    <h2>Liver cancer</h2>
    Liver cancer first develops in your liver. If cancer starts elsewhere in the body but spreads to the liver, it’s called secondary liver cancer.
The most common type of liver cancer is hepatocellular carcinoma. It tends to develop as several small spots of cancer in your liver, though it can also start as a single tumor.
Complications of other liver diseases, especially those that aren’t treated, may contribute to the development of liver cancer.

    <div>
        <h4>Symptoms</h4>
    <li>Losing weight without trying</li>
    <li>Loss of appetite</li>
    <li>Upper abdominal pain</li>
    <li>Nausea and vomiting</li>
    <li>General weakness and fatigue</li>
    <li>Abdominal swelling</li>
    <li>Yellow discoloration of your skin and the whites of your eyes (jaundice)</li>
    <li>White, chalky stools</li>

    </div>
    
</div>
 <br>
<div id="t4">
    <h2>Cirrhosis</h2>
    Cirrhosis refers to scarring that results from liver diseases and other causes of liver damage, such as alcohol use disorder. Cystic fibrosis and syphilis may also lead to liver damage and, eventually, cirrhosis — although these two causes are much less common.
Your liver can regenerate in response to damage, but this process usually results in the development of scar tissue. The more scar tissue that develops, the harder it is for your liver to function properly.
In its early stages, cirrhosis is often treatable by addressing the underlying cause. But without management, it can lead to other complications and become life threatening.

<div>
    <h4>Symptoms</h4>
<li>Fatigue</li>
<li>Easily bleeding or bruising</li>
<li>Loss of appetite</li>
<li>Nausea</li>
<li>Swelling in your legs, feet or ankles (edema)</li>
<li>Weight loss</li>
<li>Itchy skin</li>
<li>Yellow discoloration in the skin and eyes (jaundice)
</li>


</div>
</div>
 <br>
<div id="t5">
    <h2>Liver failure</h2>
    Chronic liver failure typically happens when a significant part of your liver is damaged and can’t function properly. Generally, liver failure related to liver disease and cirrhosis happens slowly. You may not have any symptoms at first. But over time, you might start to notice:
<li>jaundice</li>
<li>diarrhea</li>
<li>confusion</li>
<li>fatigue and weakness</li>
<li>nausea</li>
It’s a serious condition that requires ongoing management.
Acute liver failure, on the other hand, happens suddenly, often in response to an overdose or poisoning.

<div>
    
</div>
</div>
<br>
    </div>
</body>
</html>