<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Male reproductive system Diseases</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
    <style>
        body{
            margin-top: -40px;
        }
        a{
            position: relative;
            bottom: 60px;
        }
    </style>
</head>
<body>
    <div class="sidenav">
        <h1 class="heartdis">Male reproductive system Diseases</h1>
        <h2 class="mainames">
        <div><a href="#t1">Testicular Cancer</a></div>
        <div><a href="#t2">Cancer of the Penis (Penile Cancer)</a></div>
        <div><a href="#t3">phimosis (Foreskin Problems)</a></div>
       </h2>
    </div>

    <div class="content">
        
    <div id="t1">
        <h2>Testicular Cancer</h2>
        Testicular cancer is cancer that develops in the testicles, which are part of a man's reproductive system.
Although rare, this is the most common cancer in young men, affecting one in 199 men overall. As with any cancer, the cause is unknown, though it is more common in white men aged between 15 – 49 years of age. Almost half of those who get it are under 35.
The number of cases of testicular cancer that are diagnosed each year in the UK has roughly doubled since the mid-1970s. The reasons for this are unclear.
Testicular cancer is one of the most beatable cancers when detected early. Nearly all men are cured.

<div>
    <h4>Symptoms</h4>
<ul>
    Testicular cancer symptoms can be similar to other conditions that affect the testicles, such as infections, but it is important to get them checked by a GP.
Look out for:

<li>A painless lump or swelling in one of the testicles. It can be the size of a pea or it may be much larger.
</li>
<li>A feeling of heaviness in the scrotum</li>
<li>A dull ache or discomfort in the testicle or scrotum
</li>
It's important to be aware of what feels normal for you. Get to know your body and see your GP if you notice any changes.
If the cancer has spread to the lymph nodes or other parts of the body, you may experience some less common symptoms such as:
<li>Backache or a dull ache in the lower tummy</li>
<li>Lumps in lymph glands in other parts of the body, such as around the collarbone or in the neck.</li>
<li>A cough or feeling breathless.</li>
<li>Tender or swollen breasts.
</li>
Testicular cancer can usually be cured, even if it has spread when it is diagnosed.
If you notice any of the above symptoms it is important to see your doctor. It is unlikely to be testicular cancer but the quicker you get checked out the quicker you can get treated.


</ul>
</div>
    </div>
 
<div id="t2">
    <h2>Cancer of the Penis (Penile Cancer)

</h2>
Cancer of the penis, or penile cancer, rarely affects men under 40, and only 1 in 100,000 men overall. It is a potentially fatal condition.
With penile cancer, tumors usually appear on the end of the penis or on the foreskin. In North America, where circumcision is routinely performed, penile cancer is rare. Bacterial production of smegma (a cheese-like substance that can form under the foreskin of the penis) may be a risk factor. Unprotected sexual relations with multiple partners and cigarette smoking are also risk factors.
As with all cancers, penile tumors occur when cells abnormally divide and grow forming a lump. Tumors can be either benign or malignant. Benign tumors do not spread to other parts of the body, although they can press on surrounding organs, affecting their function. Malignant tumors are able to spread beyond their original site. Sometimes cells break off and travel in the bloodstream or lymphatic system to other organs in the body, growing new tumors there

<div>
    <h4>Symptoms</h4>
    Doctors recommend regular self-examination to catch any changes at an early stage. If you notice any of the following, make an appointment to see your GP:
<li>A pimple-like, painless sore on the end of the penis or on the foreskin</li>
<li>Any other painless sore or warts on the penis.</li>
<li>A persistent sore spot, ulcer or warty lump on the penis that slowly spreads</li>
<li>Tender or swollen lymph nodes in the groin or abdomen.
</li>
<li>Bleeding during urination.</li>
<li>Painful or difficult urination.
</li>

</div>
</div>
<div id="t3">
    <h2>phimosis (Foreskin Problems)
    </h2>
    When boys are first born, their foreskin is tight. Over time it gradually loosens until it can be easily pulled back over the penis head (glans). Phimosis occurs when the foreskin remains unusually tight and cannot be drawn back. Some men can have phimosis throughout their life and are still able to have intercourse, although most would probably find it more comfortable without this condition.
Not being able to pull back the foreskin also means that it is difficult to clean the penis. This increases the chance of infection. Phimosis may also develop later in life, after puberty. It can be caused by thrush infections, which lead to scarring of the penis, or another condition (balanitis xerotica obliterans) that makes the foreskin stick to the penis.

    <div>
        <h4>Symptoms</h4>
        The main symptoms are not being able to pull back the foreskin to expose the head of your penis, and if the foreskin is very tight, erections may be painful. You may also have pain from urinating.
        Try not to force the foreskin back yourself, as this can lead to painful cracks on the inside of the foreskin. As these cracks heal, they will form scars, which could make your condition worse.
        
    </div>
    
</div>
 <br>
<div>
    
</div>
</div>
 <br>
<div>

</div>
</div>
<br>
    </div>
</body>
</html>