<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Diseases</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
</head>
<body>
    <div class="sidenav">
        <h1>Heart Diseases</h1>
        <h2>
        <div>Congenital Heart Disease</div>
        <div>Coronary Artery Disease (CAD)</div>
        <div>Heart Arrhythmia</div>
        <div>Dilated Cardiomyopathy</div>
        <div>Pulmonary Stenosis</div>
        </h2>
    </div>

    <div class="content">
        Heart diseases account for a huge number of deaths in India every year. It’s so frequent that every 40 seconds, at least one person will have a heart attack, and every minute, at least one person will die from heart related conditions.
The heart is an extremely complex organ with a challenging role to play in keeping us alive, so it comes as no surprise that there are many types of diseases that affect different parts of the organ in different ways. In this list, we’ll discuss 5 common heart diseases.
mptoms, and what causes them.

    <div>
        <h2>Congenital Heart Disease</h2>
        Congenital heart disease is a birth defect that could range from a small hole in the heart to something more severe. Most of these diseases can be treated with surgery. Doctors will often diagnose these problems during pregnancy but you may not experience any symptoms until you reach adulthood, in some cases, you may not experience them at all.
There are several types of congenital heart diseases including
.Heart valve defects where some valves are too narrow or closed,
bad connections with blood vessels that don’t carry blood to right parts of the body,
issues with the heart’s muscle itself where it is unable to pump as efficiently as it should.

<div>
    <h3>Symptoms</h3>
<ul>
    General signs of congenital heart disease can include:
<li>a blue tinge to the skin or lips</li>    
<li>rapid breathing</li>
<li>swelling in the legs, tummy and around the eyes</li>
<li>Shortness of breath in babies during feeding (making it hard for them to gain weight) and in older children and adults during exercise</li>
<li>extreme tiredness and fatigue</li>
<li>fainting during exercise</li>
<li>swelling in the hands, ankles or feet</li>
<li></li>

</ul>
</div>
    </div>
 
<div>
    <h2>Coronary Artery Disease (CAD)
</h2>
Coronary artery disease is a condition that describes the state of arteries when they become too narrow to supply blood and oxygen to the heart. CAD often develops due to a build-up of cholesterol (and other waste products from cells) on the artery walls, creating plaque. This plaque can obstruct blood flow and cause debilitating health problems. 
If plaque breaks off or rupture, platelets will start to cluster around the area to repair the blood vessel. This can easily block the artery and block the flow of blood, which can lead to a heart attack.

<div>
    <h3>Symptoms</h3>
    Can have no symptoms, but people may experience:
<li>Pain areas: in the chest</li>
<li>Gastrointestinal: indigestion or nausea
</li>
<li>Whole body: light-headedness or sweating</li>
<li>Also common: fast heart rate or shortness of breath</li>


</div>
</div>
<div>
    <h2>Heart Arrhythmia</h2>
    Heart arrhythmia develops when the heart is unable to regulate electrical impulses that coordinate heartbeats, causing it to beat too fast or too slow. In some cases, heart arrhythmia is harmless and may feel like a minor inconvenience. However, in more severe cases, heart arrhythmia may require urgent medical attention if the patient has other diseases that could exacerbate their condition.

    <div>
        <h3>Symptoms</h3>
    Heart arrhythmias may not cause any signs or symptoms. A doctor may notice 
    <li>A fluttering in the chest
</li>
    <li>A racing heartbeat (tachycardia)
</li>
    <li>A slow heartbeat (bradycardia)
</li>
    <li>Chest pain</li>
    <li>Shortness of breath</li>
    <li>Anxiety</li>
 <li>Fatigue</li>   
 <li>Lightheadedness or dizziness
</li>
<li>Sweating</li>
<li>Fainting (syncope) or near fainting
</li>

    </div>
    
</div>
 <br>
<div>
    <h2>Dilated Cardiomyopathy</h2>
This life-threatening condition develops when the left ventricle becomes too enlarged to keep blood flowing. If not treated in time, the heart muscle walls gradually weaken and won’t be able to pump as effectively. This also causes the kidneys to retain more sodium and fluid which builds up in the ankles, legs, lungs, feet, and other organs.
<div>
    <h3>Symptoms</h3>
Signs and symptoms of dilated cardiomyopathy may include:
<li>Fatigue</li>
<li>Shortness of breath (dyspnea) when you're active or lying down</li>
<li>Reduced ability to exercise
</li>
<li>Swelling (edema) in your legs, ankles, feet and abdomen
</li>
<li>Chest pain or feelings of having a fast-beating, fluttering or pounding heart (palpitations)</li>
<li>Extra or unusual sounds heard when your heart beats (heart murmurs), which your doctor may find during a physical examination</li>
Some people with dilated cardiomyopathy don't have any signs or symptoms in the early stages of the disease.



</div>
</div>
 <br>
<div>
    <h2>Pulmonary Stenosis</h2>
Pulmonary stenosis is a condition that develops when the pulmonary valve becomes too narrow and rigid to support regular blood flow. When this happens, the right ventricle responds by working harder to eject blood into the pulmonary artery and gradually thickens to compensate for the extra workload. This leads to a condition known as hypertrophy, which in of itself doesn’t pose much of a danger, but is an indication that it’s time for a specialist to intervene
<div>
    <h3>
        Symptoms
    </h3>
Pulmonary valve stenosis signs and symptoms vary, depending on how much blood flow is blocked. Some people with mild pulmonary stenosis don't have symptoms. Those with more-severe pulmonary stenosis may first notice symptoms while exercising.
Pulmonary valve stenosis signs and symptoms may include:
<li>A whooshing sound (murmur) that can be heard with a stethoscope</li>
<li>Fatigue</li>
<li>Shortness of breath, especially during activity
</li>
<li>Chest pain</li>
<li>Loss of consciousness (fainting)</li>
Babies with pulmonary valve stenosis and other congenital heart defects may appear blue (cyanotic).

</div>
</div>
<br>
    </div>
</body>
</html>