<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
    
</head>
<body>
  

    <header>
        

        

        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <img class="logo" src="../../static/wholenesslogo.png" alt="">
                
                <form id="form" role="search">
                    <input type="search" id="query" name="q"
                     placeholder="Search..."
                     aria-label="Search through site content">
                     <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>

                <a class="navbar-brand" href="/workout">WorkOuts</a>
                <a class="navbar-brand" href="/food">Diet</a>
                <a class="navbar-brand" href="/diseases">Diseases</a>
                <a class="navbar-brand" href="/challenges">Challenges</a>
                <a class="navbar-brand" href="/shop">Shop</a>

                <div class="dropdown">
                    <a onclick="this.blur();" class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-caret" aria-hidden="true"></i>

                    </a>
                  
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item" href="/profile">Profile</a></li>
                      <li><a class="dropdown-item" href="/wishlist">WishList</a></li>
                      <li><a class="dropdown-item" href="/settings">Settings</a></li>
                      <li><a class="dropdown-item" href="/logout">LogOut</a></li>
                    </ul>
                </div>
                
            </div>

            
        

        </nav>
        {% if user.is_authenticated %}
        <h1> </h1>
        <script>
            alert(" hello" + fname+",\n you are successfully logged in ") 
        
        </script>
        {% endif %}

    </header>


<div class="aSide">
    <div class ='aside img'>

    <!--<img src="../../static/background.png" alt=""> -->
    {% if age <= 20 and gender == 'male' %}
        <a href="/workout">
            
            <model-viewer src="../../static/boy.glb" alt="model robot" auto-rotate camera-controls arios-src="../../static/boy.glb" ></model-viewer>
        </a>
    {% elif age <= 50 and gender == 'male' %}
        <a href="/workout">
            <model-viewer src="../../static/men.glb" alt="model robot" auto-rotate camera-controls arios-src="../../static/men.glb" ></model-viewer>
        </a>
    
    {% elif age <= 18 and gender == 'female' %}
        <a href="/workout">
            <model-viewer src="../../static/girl.glb" alt="model robot" auto-rotate camera-controls arios-src="../../static/boy.glb" ></model-viewer>
        </a>
    {% elif age <= 50 and gender == 'female' %}
        <a href="/workout">
            <model-viewer src="../../static/women.glb" alt="model robot" auto-rotate camera-controls arios-src="../../static/women.glb" ></model-viewer>
        </a>
    
    {% endif %}
 </div>
</div>


{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="" alert>
    <strong>{{ message }}</strong>
    <button type="button" class="close" data-dismissible="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}




</body>
</html>