<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wholeness</title>
    <link rel="stylesheet" href="../../static/index.css">
</head>
<body>
    
    <header>
        <form method ="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info">{{ message}}</div>
            {% endfor %}
            {% endif %}
        
        <nav>
            <a href="">
                <img src="../../static/wholenesslogo.png" alt="">
            </a>
            
            
            <a href="">Home</a>
            <a href="/support">Support</a>
            <!-- <a href="/contact">About Us</a> -->
            
            <a href="/aboutus">About Us</a>
            
            <a href="/features">Features</a>
            <a href="/about">About</a>
            
            
            <span class="flex-align-right">
                <a href="/login">Login</a><span> / </span><a href="/signup">SignUp</a>
            </span>
        
        </nav>
        </form>
    </header>
</body>