<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pancreatic Diseases</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
</head>
<body>
    <div class="sidenav">
        <h1>Pancreatic Diseases</h1>
        <h2>
        <div>Acute Pancreatitis</div>
        <div>Chronic Pancreatitis</div>
        <div>Hereditary Pancreatitis</div>
        <div>Pancreatic Cancer</div>
        
        </h2>
    </div>

    <div class="content">
        There are a variety of disorders of the pancreas including acute pancreatitis, chronic pancreatitis, hereditary pancreatitis, and pancreatic cancer.
<h2>Evaluation of pancreatic diseases</h2> 
The evaluation of pancreatic diseases can be difficult due to the inaccessibility of the pancreas. There are multiple methods to evaluate the pancreas. Initial tests of the pancreas include a physical examination, which is difficult since the pancreas is deep in the abdomen near the spine. Blood tests are often helpful in determining whether the pancreas is involved in a specific symptom but may be misleading. The best radiographic tests to evaluate the structure of the pancreas include CAT (computed tomography) scan, endoscopic ultrasound, and MRI (magnetic resonance imaging). Tests to evaluate the pancreatic ducts include ERCP (endoscopic retrograde cholangiopancreatography) and MRCP(magnetic resonance cholangiopancreatography). There are also instances in which surgical exploration is the only way to confirm the diagnosis of pancreatic disease.


    <div>
        <h2>Acute Pancreatitis
        </h2>
        Acute pancreatitis is a sudden attack causing inflammation of the pancreas and is usually associated with severe upper abdominal pain. The pain may be severe and last several days.
<div>
    <h3>Symptoms</h3>
<ul>
    symptoms of acute pancreatitis include

<li>Nausea</li>    
<li>Vomiting</li>
<li>Diarrhea</li>
<li>Bloating</li>
<li>Fever</li>
In India, the most common cause of acute pancreatitis is gallstones. Other causes include chronic alcohol consumption, hereditary conditions, trauma, medications, infections, electrolyte abnormalities, high lipid levels, hormonal abnormalities, or other unknown causes. The treatment is usually supportive with medications showing no benefit. Most patients with acute pancreatitis recover completely.


</ul>
</div>
    </div>
 
<div>
    <h2>Chronic Pancreatitis
</h2>
Chronic pancreatitis is the progressive disorder associated with the destruction of the pancreas. The disease is more common in men and usually develops in persons between 30 and 40 years of age. Initially, chronic pancreatitis may be confused with acute pancreatitis because the symptoms are similar.
<div>
    <h3>Symptoms</h3>
    The most common symptoms are upper abdominal pain and diarrhea. As the disease becomes more chronic, patients can develop malnutrition and weight loss. If the pancreas becomes destroyed in the latter stages of the disease, patients may develop diabetes mellitus.
The most common cause of chronic pancreatitis in India is chronic alcohol consumption. Additional causes include cystic fibrosis and other hereditary disorders of the pancreas. For a significant percentage of patients there is no known cause. More research is needed to determine other causes of the disease.
 
The treatment for chronic pancreatitis depends on the symptoms. Most therapies center on pain management and nutritional support. Oral pancreatic enzyme supplements are used to aid in the digestion of food. Patients who develop diabetes require insulin to control blood sugar. The avoidance of alcohol is central to therapy.

</div>
</div>
<div>
    <h2>Hereditary Pancreatitis
    </h2>
    In some cases, pancreatitis is related to inherited abnormalities of the pancreas or intestine. Acute recurrent attacks of pancreatitis early in life (under age 30) can often progress to chronic pancreatitis. The most common inherited disorder that leads to chronic pancreatitis is cystic fibrosis. Recent research demonstrates genetic testing can be a valuable tool in identifying patients predisposed to hereditary pancreatitis.
As in chronic pancreatitis, hereditary pancreatitis is a progressive disease with a high risk of permanent problems. Patients with these disorders may have chronic pain, diarrhea, malnutrition, or diabetes. Treatment focuses on pain control and pancreatic enzyme replacement.

    <div>
        
    </div>
    
</div>
 <br>
<div>
    <h2>Pancreatic Cancer</h2>
    Pancreatic cancer is the fourth most common cause of cancer death in men and the fifth in women. Cancer of the pancreas is resistant to many standard treatments including chemotherapy and radiation therapy. 
    <div>
    <h3>Symptoms</h3>
    This cancer grows insidiously and initially does not cause symptoms. The classic presentation of pancreatic cancer is referred to as painless jaundice, a yellowish skin discoloration with no other symptoms. 
 
    The diagnosis is usually made using different radiographic imaging techniques.
    If detected in the early stages, pancreatic cancer can be cured by surgical resection. Unfortunately, early detection is more the exception than the rule. At later stages, treatment can improve the quality of life by controlling symptoms and complications.
    

</div>
</div>
 <br>
<div>
    
</div>
</div>
<br>
    </div>
</body>
</html>