<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pull Ups</title>
    <style>

    body{
        background-color: #808592;
    }    

    .popup-wrapper{
    position: absolute;
    width: 80vw;
    min-width: 35cm;
    max-width: 800px;
    top: 0.6cm;
    left: 2cm;
    background-color: #ccd9d9;
    min-height: 17cm;
    padding: 10px;
}

.popup{
    display: flex;
    position: absolute;

}
iframe{
    float: left;
    height: 17cm;
    width: 27cm;
    margin: 5px;
}
.heading{
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 10px;
}
    </style>
</head>
<body>
    <div class="popup-wrapper">
        <div class="pop-up">
          <i class="fa fa-close" style="font-size: 24px;" onclick="closePopUp()"></i>
          <iframe width="50%" height="50%" src="https://www.youtube.com/embed/l-EkcthUMl4?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="video-wrapper"></div>
            <div class="info-wrapper">
              <div class="heading">PUSH-UPS</div>
              <div class="text-info">Lorem ipsum, dolor sit amet
                 consectetur adipisicing elit. Et quis, eum magni 
                 unde velit a alias quidem itaque tempore, earum 
                 laboriosam? Accusantium repellendus temporibus esse 
                itaque quisquam odio deleniti praesentium.</div>
            </div>
        </div>
      </div>
</body>
</html>