<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respiratory Diseases</title>
    <link rel="stylesheet" href="../../static/diseasesstyle.css">
</head>
<body>
    <div class="sidenav">
        <h1>Respiratory Diseases</h1>
        <h2>
        <div>Asthma</div>
        <div>Tuberculosis</div>
        <div>Bronchitis</div>
        <div>Pneumonia</div>
        <div>Lung Cancer</div>
        </h2>
    </div>

    <div class="content">
        Many types of lung diseases can cause chronic respiratory conditions. Chronic respiratory disease affects millions of people in India alone. It can be difficult to say how many people have lung diseases overall because these diseases are grouped into specific conditions.
        Many genetic and environmental factors can lead to lung disease, but smoking is the top preventable cause of many respiratory conditions.
        most common respiratory diseases, their symptoms, and what causes them.

    <div>
        <h2>Asthma</h2>
People with a family history of asthma, respiratory allergies, or severe childhood respiratory illness are at a higher risk of developing asthma.
Asthma is a chronic inflammatory disease that causes breathing problems when the airways become narrowed by inflammation or blocked by mucus. The condition’s severity varies from person to person, but most people take daily preventive medication to control their symptoms and prevent flare-ups
<div>
    <h3>Symptoms</h3>
<ul>
    Asthma can have several symptoms, including:
<li>Wheezing</li>
<li>Coughing</li>
<li>Tightness in the chest</li>
<li>Fever (acute bronchitis only)</li>
</ul>
</div>
    </div>
 
<div>
    <h2>Tuberculosis</h2>
Tuberculosis is a bacterial lung disease caused by Mycobacterium tuberculosis. More than 1.8 billion people around the world have tuberculosis, but the disease is only considered active in 10 million of them.
People with strong immune systems sometimes carry an inactive form of the disease, called latent tuberculosis. In people with weaker immune systems, the bacteria attacks lung tissue. It can also spread and cause damage to other parts of the body.
<div>
    <h3>Symptoms</h3>
    Many respiratory diseases share symptoms, such as long-term cough. 
Certain symptoms are specific to one disease or another. For example, night sweats tend to occur in people with tuberculosis.
Other tuberculosis symptoms include:
<li>A cough that lasts longer than three weeks</li>
<li>Weight loss</li>
<li>Poor appetite</li>
<li>A cough that brings up blood or mucus</li>
<li>Weakness</li>
<li>Fatigue</li>
<li>Fever</li>
<li>Night sweats</li>

</div>
</div>
<div>
    <h2>Bronchitis</h2>
    Bronchitis is a condition that develops when the windpipe gets irritated or inflamed. In response to the inflammation, the lining of the bronchial tube may make too much mucus as it tries to coat the area. The mucus can make it difficult to breathe.
    Inflammation can also cause swelling of the airway. This will cause it to narrow and make it harder to breathe.
    Bronchitis can be acute or chronic. There are some key differences between the two forms:
    In acute bronchitis, the inflammation is usually caused by an infection that will get better in a few days to several weeks.
    With chronic bronchitis, the inflammation is caused by repeated exposure to irritants—like cigarette smoke or pollution. Chronic bronchitis does not go away. You may have periods of relief along with periods where it gets worse (exacerbations), especially if you get a cold or another respiratory infection.
     
    <div>
        <h3>Symptoms</h3>
    Chronic bronchitis falls under the umbrella of COPD. Acute bronchitis is not considered COPD, but it shares symptoms with the chronic form of the disease. These symptoms include:
    <li>A frequent cough that produces mucus</li>
    <li>Wheezing</li>
    <li>A whistling or squeaking sound when you breathe</li>
    <li>Shortness of breath (especially with activity)</li>
    <li>Tightness in your chest</li>
    <li>Fever (acute bronchitis only)</li>
    
    </div>
    
</div>
 <br>
<div>
    <h2>Pneumonia</h2>
Pneumonia is a generic diagnosis. Even though there are different types of pneumonia, the way that the condition affects the lungs is similar in each one.
With pneumonia, a virus, bacteria, or another infectious agent causes the tiny air sacs in the lungs (alveoli) to fill with fluid or pus. These air sacs are what help exchange oxygen and other gasses between the air that is breathed in and the blood. When these sacs are filled with fluid, the body’s ability to exchange gasses is reduced.
<div>
    <h3>Symptoms</h3>
The several types of pneumonia are:
<li>Viral</li>
<li>Bacterial</li>
<li>Mycoplasma (also called “walking pneumonia”)</li>
<li>Fungal</li>
<li>Aspiration</li>

In some types of pneumonia, such as walking pneumonia, the symptoms can be mild and not affect daily activities. However, the symptoms of pneumonia can be severe and, in some cases, will require hospitalization.
Common symptoms of pneumonia are:
<li>Fever</li>
<li>Chills</li>
<li>A cough that produces phlegm</li>
<li>Shortness of breath</li>
<li>Chest pain when you cough or breathe</li>
<li>Nausea</li>
<li>Vomiting</li>
<li>Diarrhea</li>

</div>
</div>
 <br>
<div>
    <h2>Lung Cancer</h2>
Lung cancer is one of the most common types of cancer, ranking second in India.It can develop as either small cell lung cancer or non-small cell lung cancer, which is the more common of the two.
Cigarette smoking—both direct and secondhand—is one of the biggest risk factors for lung cancer.
<div>
    <h3>
        Symptoms
    </h3>
Lung cancer can develop gradually and often with no symptoms. When it does appear, symptoms may include:

<li>Chest pain</li>
<li>Chronic cough</li>
<li>Difficulty breathing</li>
<li>Wheezing</li>
<li>Hoarseness</li>
<li>Weight loss</li>
<li>Fatigue or weakness</li>
<li>Difficulty swallowing</li>
<li>A cough that produces bloody mucus</li>
<li>Swelling in the face or neck</li>

</div>
</div>
<br>
    </div>
</body>
</html>