<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Online Workouts Videos | Fitness Blender</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- FavIco -->
  <!-- Generate using http://realfavicongenerator.net/ -->
  <link rel="shortcut icon" href="https://www.fitnessblender.com/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cloudfront.fitnessblender.com/assets/img/icon/apple-touch-icon.png?v=2">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cloudfront.fitnessblender.com/assets/img/icon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cloudfront.fitnessblender.com/assets/img/icon/favicon-16x16.png">
  <link rel="manifest" href="https://cloudfront.fitnessblender.com/assets/img/icon/manifest.json">
  <link rel="mask-icon" href="https://cloudfront.fitnessblender.com/assets/img/icon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Fitness Blender">
  <meta name="application-name" content="Fitness Blender">
  <meta name="msapplication-config" content="https://cloudfront.fitnessblender.com/assets/img/icon/browserconfig.xml">
  <meta name="theme-color" content="#FFFFFF">

<!-- Meta -->
<meta name="description"
      content="Fitness Blender provides free full length workout videos, workout routines, healthy recipes and more.">
<meta name="keywords" content="fitness, workout videos, workout routines, healthy recipes">

<!-- ogp -->
<meta property="og:site_name" content="Fitness Blender">
<meta property="og:title" content="Online Workouts Videos">
<meta property="og:description"
      content="Fitness Blender provides free full length workout videos, workout routines, healthy recipes and more.">
<meta property="og:type" content="website">

  <meta property="og:url" content="https://www.fitnessblender.com/workouts">
<meta property="og:image" content="https://cloudfront.fitnessblender.com/assets/img/fit-ogp-logo.jpg">
<!-- end ogp -->

<!-- twitter cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="FitnessBlender">
<meta name="twitter:title" content="Online Workouts Videos">
<meta name="twitter:description"
      content="Fitness Blender provides free full length workout videos, workout routines, healthy recipes and more.">
<meta name="twitter:creator" content="FitnessBlender">
<meta name="twitter:image" content="https://cloudfront.fitnessblender.com/assets/img/fit-ogp-logo.jpg">
<!-- end cards -->


  <link rel="canonical" href="https://www.fitnessblender.com/workouts"/>



<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
<link href="https://cloudfront.fitnessblender.com/assets/bundle/styles-8e49080b7f10387846df.css" rel="stylesheet">







<script>
  window.Laravel = {
        csrfToken: "ekVFTSD0zyFEObK7qQ9h41g2a023Beb7JWjvbVwn",
    sentryDsn: "https://d310ec1875ac49c099b19a3d6de5b30b@sentry.io/1322314",
    env: "production",
    user: {
      anonymizedIp: "183.83.129",
            isLoggedIn: false,
      displayName: "Guest",
      firstName: "guest",
      username: "guest",
      avatar: "",
      notificationCount: 0,
      startMonday: 0,
      measurementSystem: 'imperial',
          },
    // cart
    cart: {
      count: 0
    },
    // cdn
    cdn : {
      prefix: "https://cloudfront.fitnessblender.com",
      siteAssetsPrefix: "https://d18zdz9g6n5za7.cloudfront.net",
      userAssetsPrefix: "https://d3scpmvvk35ffs.cloudfront.net"
    },
    // features
    features : {"MEAL_PLAN_V2":true},
  }

  document.cookie = 'FB_TZ=' + (new Date()).getTimezoneOffset() / 60 + ';path=/;SameSite=Lax'
</script>

<!-- Google AdSense -->

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    
    ga('create', 'UA-17144298-1', 'auto');
    ga('set', 'anonymizeIp', true);
    
    
          ga('set', 'dimension1', 'Visitor')
        
    ga('send', 'pageview')
  
  </script>
  <!-- End Google Analytics -->

   <!-- Hotjar Tracking Code for fitnessblender.com -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1511055,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

</head>

<body  class="announcement_body" >
<a href="#content" class="sr-only">Skip to Main Content</a>


<header class="fb-menu" id="header">
  <div class="container header-container">
    <h1 class="brand"><a href="/">Fitness Blender</a></h1>
    <nav class="menu-main">
      <ul>
        <li class="has-dropdown workouts active">
          <a href="/workouts" class="anchor dropdown-button" data-event="hover" data-menulink aria-controls="workout-dropdown"><span>Workouts<i class="material-icons nav-carrot" aria-hidden="true" data-nosnippet data-icon="arrow_drop_down"></i></span></a>
          <ul class="sub-menu the-dropdown" id="workout-dropdown">
            <li><a href="/videos"><span class="menu-icon"><i class="icon -workout-videos" aria-hidden="true"></i></span><span class="menu-label">Workout Videos</span></a></li>
            <li><a href="/page/custom-workouts"><span class="menu-icon"><i class="icon -custom-workouts" aria-hidden="true"></i></span><span class="menu-label">Custom Workouts</span></a></li>
          </ul>
        </li>
        <li class="has-dropdown programs ">
          <a href="/programs-challenges" class="anchor dropdown-button" data-event="hover" data-menulink aria-controls="program-dropdown"><span>Programs<i class="material-icons nav-carrot" aria-hidden="true" data-nosnippet data-icon="arrow_drop_down"></i></span></a>
          <ul class="sub-menu the-dropdown" id="program-dropdown">
            <li><a href="/plans"><span class="menu-icon"><i class="icon -workout-programs" aria-hidden="true"></i></span><span class="menu-label">Workout Programs</span></a></li>
            <li><a href="/meal-plans"><span class="menu-icon"><i class="icon -nutrition-programs" aria-hidden="true"></i></span><span class="menu-label">Meal Plans</span></a></li>
            <li><a href="/page/routines"><span class="menu-icon"><i class="icon -routines" aria-hidden="true"></i></span><span class="menu-label">Routines</span></a></li>
          </ul>
        </li>
        <li class="has-dropdown healthy-living ">
          <a href="/healthy-living" class="anchor dropdown-button" data-event="hover" data-menulink aria-controls="healthy-living-dropdown"><span>Healthy Living<i class="material-icons nav-carrot" aria-hidden="true" data-nosnippet data-icon="arrow_drop_down"></i></span></a>
          <ul class="sub-menu the-dropdown" id="healthy-living-dropdown">
            <li><a href="/articles"><span class="menu-icon"><i class="icon -experts" aria-hidden="true"></i></span><span class="menu-label">Expert Articles</span></a></li>
            <li><a href="/healthy-living/healthy-recipes"><span class="menu-icon"><i class="icon -healthy-recipes" aria-hidden="true"></i></span><span class="menu-label">Healthy Recipes</span></a></li>
            
                      </ul>
        </li>
        <li class="has-dropdown community ">
          <a href="/community" class="anchor dropdown-button" data-event="hover" data-menulink aria-controls="community-dropdown"><span>Community<i class="material-icons nav-carrot" aria-hidden="true" data-nosnippet data-icon="arrow_drop_down"></i></span></a>
          <ul class="sub-menu the-dropdown" id="community-dropdown">
            <li><a href="/community"><span class="menu-icon"><i class="icon -community" aria-hidden="true"></i></span><span class="menu-label">Community</span></a></li>
            <li><a href="/blog"><span class="menu-icon"><i class="icon -blog" aria-hidden="true"></i></span><span class="menu-label">Blog</span></a></li>
            <li><a href="/community/fb-team/fb-site-updates"><span class="menu-icon"><i class="icon -whats-new" aria-hidden="true"></i></span><span class="menu-label">What&apos;s New</span></a></li>
          </ul>
        </li>
        <li class="has-dropdown about ">
          <a href="/page/about-fitness-blender" class="anchor dropdown-button" data-event="hover" data-menulink aria-controls="about-dropdown"><span>About<i class="material-icons nav-carrot" aria-hidden="true" data-nosnippet data-icon="arrow_drop_down"></i></span></a>
          <ul class="sub-menu the-dropdown" id="about-dropdown">
            <li><a href="/page/about-fitness-blender"><span class="menu-icon"><i class="icon -about" aria-hidden="true"></i></span><span class="menu-label">About</span></a></li>
            <li><a href="/careers"><span class="menu-icon"><i class="icon -careers" aria-hidden="true"></i></span><span class="menu-label">Careers</span></a></li>
            <li><a href="/tutorials"><span class="menu-icon"><i class="icon -tutorials" aria-hidden="true"></i></span><span class="menu-label">Tutorials</span></a></li>
            <li><a href="/team-members"><span class="menu-icon"><i class="icon -team" aria-hidden="true"></i></span><span class="menu-label">Our Team</span></a></li>
          </ul>
        </li>
        <li class="store ">
          <a href="/store" class="anchor" data-blur-hovers><span>Store</span></a>
        </li>
        <li class="membership ">
          <a href="/membership" class="anchor"><span class="plus">Membership</span></a>
        </li>
      </ul>
    </nav>
    <div class="menu-controls">
      <div class="menu-login has-dropdown">
        <div class="menu-login-button logged-out dropdown-button" data-event="hover" aria-controls="user-dropdown" tabindex="0">
          <div class="vue">
            <menu-avatar
              :has-achievement="false"
            >
            </menu-avatar>
          </div>
          <div class="menu-id" data-hj-suppress>
            <span class="menu-login-name">Hi! Sign In</span>
            <span class="menu-login-label">My Fitness<i class="material-icons nav-carrot" aria-hidden="true" data-nosnippet data-icon="arrow_drop_down"></i></span>
          </div>
        </div>
        <div class="menu-login-dropdown the-dropdown" id="user-dropdown">
                      <div class="menu-login-join">
              <h2 class="heading -x-small upper demi">Join for Free!</h2>
              <p class="small regular">Join for free and start building and tracking your workouts, get support from other Fitness Blender members and more!</p>
              <a href="/membership" class="btn -main -block">Join</a>
              <a href="/login" class="btn -link-reverse -block upper">Sign In</a>
            </div>
                  </div>
      </div>
      
      
      <button class="hamburger" id="hamburger" tabindex="0" aria-label="Menu">
        <i class="material-icons">menu</i>
      </button>
      
      <div class="menu-util">
        <div class="menu-search has-dropdown" data-focus="search">
          <span class="dropdown-button" data-event="click">
            <i class="material-icons-outlined">search</i>
          </span>
          <div class="search-dropdown the-dropdown">
            <div class="container -flush">
              <form class="search-form" method="GET" action="/search" id="searchForm">
                <label class="sr-only" for="search">Search</label>
                <input name="keywords" id="searchInput" type="text" autocomplete="off" placeholder="KEYWORD SEARCH" />
                  <button type="submit">
                    <span class="sr-only">Search</span>
                    <i class="material-icons-outlined">search</i>
                  </button>
              </form>
            </div>
          </div>
        </div>
        <a class="menu-cart" href="/store/cart" data-blur-hovers>
          <span>
            <i class="material-icons-outlined">shopping_bag</i>
          </span>
                  </a>
      </div>
    </div>
  </div>
</header>


<nav class="alt-nav mobile-nav mobile-open" id="jsMobileNav" role="navigation">
  <header class="header">
    <form class="search-form" method="GET" action="/search">
      <label class="sr-only" for="search">Search</label>
      <input name="keywords" type="text" placeholder="SEARCH" tabindex="-1" />
      <button type="submit" tabindex="-1">
        <span class="sr-only">Search</span>
        <i class="material-icons-outlined">search</i>
      </button>
    </form>
    <a class="header__item nav-link cart" href="/store/cart" tabindex="-1">
      <span class="sr-only">Cart</span>
      <i class="material-icons-outlined">shopping_bag</i>
    </a>
  </header>
  <div class="scroll">
    <ul class="first">
      <li><a class="demi" href="/membership" tabindex="-1"><span class="plus">Membership</span></a></li>
    </ul>
    <ul>
      <li><a class="demi" href="/workouts" tabindex="-1">Workouts</a></li>
      <li><a href="/videos" tabindex="-1">Workout Videos</a></li>
      <li><a href="/page/custom-workouts" tabindex="-1">Custom Workouts</a></li>
    </ul>
    <ul>
      <li><a class="demi" href="/programs-challenges" tabindex="-1">Programs</a></li>
      <li><a href="/plans" tabindex="-1">Workout Programs</a></li>
      <li>
        <a href="/meal-plans" tabindex="-1">Meal Plans</a>
      </li>
      <li><a href="/page/routines" tabindex="-1">Routines</a></li>
    </ul>
    <ul>
      <li><a class="demi" href="/healthy-living" tabindex="-1">Healthy Living</a></li>
      <li><a href="/articles" tabindex="-1">Articles</a></li>
      <li><a href="/healthy-living/healthy-recipes" tabindex="-1">Healthy Recipes</a></li>
      
          </ul>
    <ul>
      <li><a class="demi" href="/community" tabindex="-1">Community</a></li>
      <li><a href="/blog" tabindex="-1">Blog</a></li>
      <li><a href="/community/fb-team/fb-site-updates" tabindex="-1">What&apos;s New</a></li>
    </ul>
    <ul>
      <li><a class="demi" href="/page/about-fitness-blender" tabindex="-1">About</a></li>
      <li><a href="/careers" tabindex="-1">Careers</a></li>
      <li><a href="/tutorials" tabindex="-1">Tutorials</a></li>
      <li><a href="/team-members" tabindex="-1">Our Team</a></li>
    </ul>
    <ul>
      <li><a class="demi" href="/store" tabindex="-1">Store</a></li>
    </ul>
  </div>
</nav>

  <main id="content" class="listing-page grey-background" role="main">
            
        
<div class="masthead image-masthead " style="background-image: url('https://d18zdz9g6n5za7.cloudfront.net/workouts_programs/masthead-workouts.jpg')" id="masthead">
  <img src="https://d18zdz9g6n5za7.cloudfront.net/workouts_programs/masthead-workouts-xs.jpg" class="mobile-image" alt="">
  <div class="container">
    <div class="masthead-text">
      <div class="eyebrow heading -x-small caps">Online Workout Videos</div>
      <h1 class="heading -huge">Find Your Fitness.<br>Something for Everyone.</h1>
              <p>A huge selection of workout videos and programs to help you look and feel your best.</p>
          </div>
    <span class="scroll-down-icon iconfont-arrow-next"></span>
  </div>
</div>





<section class="content-group -bg-03 -center -vs-large -hs-medium">
  <div class="heading-group group -full -flex -between -vs-baseline">
    <h2 class="heading -primary">Newest Free Workout Videos</h2>
    <div class="view-full-list">
      <a href="https://www.fitnessblender.com/videos?exclusive%5B%5D=0">View&nbsp;All Free Workouts</a>
    </div>
  </div>
  <div class="group -full">
    <div class="cards">
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/express-total-body-workout-10-or-15-minutes-you-choose">
        <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Express Total Body Workout - 10 or 15 Minutes You Choose"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Total Body — 15 min</span>
        <h3 class="-x-small demi">Express Total Body Workout - 10 or 15 Minutes You Choose</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/quick-bored-easily-bodyweight-hiit-with-athletic-drills">
        <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-975-quick-bored-easily-bodyweight-hiit-with-athletic-drills-8bf1.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-975-quick-bored-easily-bodyweight-hiit-with-athletic-drills-8bf1.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-975-quick-bored-easily-bodyweight-hiit-with-athletic-drills-8bf1.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-975-quick-bored-easily-bodyweight-hiit-with-athletic-drills-8bf1.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-975-quick-bored-easily-bodyweight-hiit-with-athletic-drills-8bf1.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Quick Bored Easily Bodyweight HIIT with Athletic Drills"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Total Body — 23 min</span>
        <h3 class="-x-small demi">Quick Bored Easily Bodyweight HIIT with Athletic Drills</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/kettlebell-lower-body-hiit-for-strength-and-power">
        <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Kettlebell Lower Body HIIT for Strength and Power"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Lower Body — 38 min</span>
        <h3 class="-x-small demi">Kettlebell Lower Body HIIT for Strength and Power</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/pre-and-postnatal-glute-core-and-pelvic-floor-workout">
        <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-953-pre-and-postnatal-glute-core-and-pelvic-floor-workout-a27d.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-953-pre-and-postnatal-glute-core-and-pelvic-floor-workout-a27d.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-953-pre-and-postnatal-glute-core-and-pelvic-floor-workout-a27d.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-953-pre-and-postnatal-glute-core-and-pelvic-floor-workout-a27d.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-953-pre-and-postnatal-glute-core-and-pelvic-floor-workout-a27d.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Pre and Postnatal Glute, Core, and Pelvic Floor Workout"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core, Lower Body — 30 min</span>
        <h3 class="-x-small demi">Pre and Postnatal Glute, Core, and Pelvic Floor Workout</h3>
      </div>
    </div>
  </a>
</div>

        </div>
          </div>
  </div>
</section>


<section class="content-group -bg-02 -center -vs-large -hs-medium -white-spacer">
  <div class="heading-group group -full -flex -between -vs-baseline">
    <h2 class="heading -primary">Newest Plus Workout Videos</h2>
    <div class="view-full-list">
      <a href="https://www.fitnessblender.com/videos?exclusive%5B%5D=1">View&nbsp;All Plus Workouts</a>
    </div>
  </div>
  <div class="group -full">
    <div class="cards">
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/prenatal-functional-pelvic-strengthening-to-prep-for-parenthood">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Prenatal Functional Pelvic Strengthening to Prep for Parenthood"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core, Total Body — 36 min</span>
        <h3 class="-x-small demi">Prenatal Functional Pelvic Strengthening to Prep for Parenthood</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/total-body-warm-up-for-any-workout">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-991-total-body-warm-up-for-any-workout-bad3.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-991-total-body-warm-up-for-any-workout-bad3.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-991-total-body-warm-up-for-any-workout-bad3.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-991-total-body-warm-up-for-any-workout-bad3.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-991-total-body-warm-up-for-any-workout-bad3.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Total Body Warm-Up For Any Workout"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Total Body — 12 min</span>
        <h3 class="-x-small demi">Total Body Warm-Up For Any Workout</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/standing-abs-plank-and-core-workout-no-equipment-abs-workout">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Standing Abs, Plank, and Core Workout - No Equipment Abs Workout"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core — 15 min</span>
        <h3 class="-x-small demi">Standing Abs, Plank, and Core Workout - No Equipment Abs Workout</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Time Under Tension Lower Body Strength Circuits with Bodyweight Intermissions"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Lower Body — 45 min</span>
        <h3 class="-x-small demi">Time Under Tension Lower Body Strength Circuits with Bodyweight Intermissions</h3>
      </div>
    </div>
  </a>
</div>

        </div>
          </div>
  </div>
</section>


<section class="content-group -bg-03 -center -vs-large -hs-medium -white-spacer">
  <div class="heading-group group -full -flex -between -vs-baseline">
    <h2 class="heading -primary">Beginner Workouts</h2>
    <div class="view-full-list">
      <a href="https://www.fitnessblender.com/videos?trainingtype=10">View&nbsp;All Beginner Workouts</a>
    </div>
  </div>
  <div class="group -full">
    <div class="cards">
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/prenatal-functional-pelvic-strengthening-to-prep-for-parenthood">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Prenatal Functional Pelvic Strengthening to Prep for Parenthood"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core, Total Body — 36 min</span>
        <h3 class="-x-small demi">Prenatal Functional Pelvic Strengthening to Prep for Parenthood</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/standing-abs-plank-and-core-workout-no-equipment-abs-workout">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-980-standing-abs-plank-and-core-workout-no-equipment-abs-workout-8ab7.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Standing Abs, Plank, and Core Workout - No Equipment Abs Workout"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core — 15 min</span>
        <h3 class="-x-small demi">Standing Abs, Plank, and Core Workout - No Equipment Abs Workout</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/express-total-body-workout-10-or-15-minutes-you-choose">
        <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-1003-express-total-body-workout-10-or-15-minutes-you-choose-8ce8.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Express Total Body Workout - 10 or 15 Minutes You Choose"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Total Body — 15 min</span>
        <h3 class="-x-small demi">Express Total Body Workout - 10 or 15 Minutes You Choose</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/pelvic-floor-for-beginners">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-965-pelvic-floor-for-beginners-8bef.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-965-pelvic-floor-for-beginners-8bef.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-965-pelvic-floor-for-beginners-8bef.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-965-pelvic-floor-for-beginners-8bef.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-965-pelvic-floor-for-beginners-8bef.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Pelvic Floor for Beginners"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core — 21 min</span>
        <h3 class="-x-small demi">Pelvic Floor for Beginners</h3>
      </div>
    </div>
  </a>
</div>

        </div>
          </div>
  </div>
</section>


<section class="content-group -bg-02 -center -vs-large -hs-medium -white-spacer">
  <div class="heading-group group -full -flex -between -vs-baseline">
    <h2 class="heading -primary">HIIT Workouts</h2>
    <div class="view-full-list">
      <a href="https://www.fitnessblender.com/videos?trainingtype=8">View&nbsp;All HIIT Workouts</a>
    </div>
  </div>
  <div class="group -full">
    <div class="cards">
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/add-on-style-total-body-hiit-with-step">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-956-add-on-style-total-body-hiit-with-step-a5df.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-956-add-on-style-total-body-hiit-with-step-a5df.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-956-add-on-style-total-body-hiit-with-step-a5df.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-956-add-on-style-total-body-hiit-with-step-a5df.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-956-add-on-style-total-body-hiit-with-step-a5df.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Add-On Style Total Body HIIT with Step"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core, Total Body — 37 min</span>
        <h3 class="-x-small demi">Add-On Style Total Body HIIT with Step</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/lower-body-strength-hiit-workout-strength-sets-with-hiit-cardio-burst">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Lower Body Strength &amp; HIIT Workout – Strength Sets with HIIT Cardio Burst"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Lower Body — 47 min</span>
        <h3 class="-x-small demi">Lower Body Strength &amp; HIIT Workout – Strength Sets with HIIT Cardio Burst</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/no-impact-descending-ladder-for-glutes-advanced-pelvic-stability-with-extended-cool-down">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-949-no-impact-descending-ladder-for-glutes-advanced-pelvic-stability-with-extended-cool-down-8bc8.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-949-no-impact-descending-ladder-for-glutes-advanced-pelvic-stability-with-extended-cool-down-8bc8.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-949-no-impact-descending-ladder-for-glutes-advanced-pelvic-stability-with-extended-cool-down-8bc8.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-949-no-impact-descending-ladder-for-glutes-advanced-pelvic-stability-with-extended-cool-down-8bc8.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-949-no-impact-descending-ladder-for-glutes-advanced-pelvic-stability-with-extended-cool-down-8bc8.jpg 320w
        "
      
      width="340"
      height="180"
      alt="No-Impact Descending Ladder for Glutes (Advanced Pelvic Stability) with Extended Cool Down"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Lower Body — 37 min</span>
        <h3 class="-x-small demi">No-Impact Descending Ladder for Glutes (Advanced Pelvic Stability) with Extended Cool Down</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/kettlebell-lower-body-hiit-for-strength-and-power">
        <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-961-kettlebell-lower-body-hiit-for-strength-and-power-b5c9.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Kettlebell Lower Body HIIT for Strength and Power"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Lower Body — 38 min</span>
        <h3 class="-x-small demi">Kettlebell Lower Body HIIT for Strength and Power</h3>
      </div>
    </div>
  </a>
</div>

        </div>
          </div>
  </div>
</section>


<section class="content-group -bg-03 -center -vs-large -hs-medium -white-spacer">
  <div class="heading-group group -full -flex -between -vs-baseline">
    <h2 class="heading -primary">Strength Workouts</h2>
    <div class="view-full-list">
      <a href="https://www.fitnessblender.com/videos?trainingtype=13">View&nbsp;All Strength Workouts</a>
    </div>
  </div>
  <div class="group -full">
    <div class="cards">
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/prenatal-functional-pelvic-strengthening-to-prep-for-parenthood">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-963-prenatal-functional-pelvic-strengthening-to-prep-for-parenthood-8fc9.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Prenatal Functional Pelvic Strengthening to Prep for Parenthood"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Core, Total Body — 36 min</span>
        <h3 class="-x-small demi">Prenatal Functional Pelvic Strengthening to Prep for Parenthood</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-993-time-under-tension-lower-body-strength-circuits-with-bodyweight-intermissions-bcd7.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Time Under Tension Lower Body Strength Circuits with Bodyweight Intermissions"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Lower Body — 45 min</span>
        <h3 class="-x-small demi">Time Under Tension Lower Body Strength Circuits with Bodyweight Intermissions</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/lower-body-strength-hiit-workout-strength-sets-with-hiit-cardio-burst">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-970-lower-body-strength-and-hiit-workout-strength-sets-with-hiit-cardio-burst-a748.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Lower Body Strength &amp; HIIT Workout – Strength Sets with HIIT Cardio Burst"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Lower Body — 47 min</span>
        <h3 class="-x-small demi">Lower Body Strength &amp; HIIT Workout – Strength Sets with HIIT Cardio Burst</h3>
      </div>
    </div>
  </a>
</div>

        </div>
              <div class="card">
          <div class="content-item article-item row-of-four no-actions">
  
  
  <a class="contents" href="/videos/express-total-body-weighted-emoms-with-muscle-group-focused-rounds">
    <div class="exclusive-item">FB Plus</div>
    <div class="content-info">
      <div class="content-thumbnail">
        <div class="content-thumbnail-holder">
          <img
            data-src="https://d18zdz9g6n5za7.cloudfront.net/video/320/320-969-express-total-body-weighted-emoms-with-muscle-group-focused-rounds-b7a6.jpg"
      class="videothumb lazyload lazyfade"
      data-srcset="
          https://d18zdz9g6n5za7.cloudfront.net/video/1020/1020-969-express-total-body-weighted-emoms-with-muscle-group-focused-rounds-b7a6.jpg 1020w,
          https://d18zdz9g6n5za7.cloudfront.net/video/800/800-969-express-total-body-weighted-emoms-with-muscle-group-focused-rounds-b7a6.jpg 800w,
          https://d18zdz9g6n5za7.cloudfront.net/video/640/640-969-express-total-body-weighted-emoms-with-muscle-group-focused-rounds-b7a6.jpg 640w,
          https://d18zdz9g6n5za7.cloudfront.net/video/320/320-969-express-total-body-weighted-emoms-with-muscle-group-focused-rounds-b7a6.jpg 320w
        "
      
      width="340"
      height="180"
      alt="Express Total Body Weighted EMOMs with Muscle Group Focused Rounds"
      sizes="
        (min-width: 941px) 320px,
        (min-width: 601px) and (max-width: 940px) calc(50vw - 18px),
        (max-width: 600px) 100vw calc(100vw - 12px)
      "
    >
  
        </div>
      </div>
      <div class="content-details">
        <span class="eyebrow demi caps">Total Body — 34 min</span>
        <h3 class="-x-small demi">Express Total Body Weighted EMOMs with Muscle Group Focused Rounds</h3>
      </div>
    </div>
  </a>
</div>

        </div>
          </div>
  </div>
</section>

      </main>
      
      <footer id="footer" class="site__footer" role="contentinfo">
        <div class="container">
          <h2 class="brand -dark"><a href="/">Fitness Blender</a>
            <p>WORKOUT COMPLETE<sup>™</sup></p>
          </h2>
          
          <nav class="footer__nav alt-nav">
            <ul>
              <li><a class="demi" href="/workouts">Workouts</a></li>
              <li><a href="/videos">Workout Videos</a></li>
              <li><a href="/page/custom-workouts">Custom Workouts</a></li>
              <li><a class="demi" href="/programs-challenges">Programs</a></li>
              <li><a href="/plans">Workout Programs</a></li>
              <li><a href="/meal-plans">Meal Plans</a></li>
              <li><a href="/page/routines">Routines</a></li>
            </ul>
            <ul>
              <li><a class="demi" href="/healthy-living">Healthy Living</a></li>
              <li><a href="/articles?category%5B%5D=1">Fitness</a></li>
              <li><a href="/articles?category%5B%5D=3">Health</a></li>
              <li><a href="/articles?category%5B%5D=9">Nutrition</a></li>
              <li><a href="/healthy-living/healthy-recipes">Healthy Recipes</a></li>
              <li><a href="/articles?category%5B%5D=10">Experts</a></li>
            </ul>
            <ul>
              <li><a class="demi" href="/page/about-fitness-blender">About</a></li>
              <li><a href="/careers">Careers</a></li>
              <li><a href="/tutorials">Tutorials</a></li>
              <li><a href="/team-members">Our Team</a></li>
            </ul>
            <ul>
              <li><a class="demi" href="/fb-plus">FB Plus</a></li>
              <li><a class="demi" href="/community">Community</a></li>
              <li><a class="demi" href="/blog">Blog</a></li>
              <li><a class="demi" href="/page/contact-us">Contact Us</a></li>
              <li><a class="demi" href="/page/faq">FAQ</a></li>
              <li><a class="demi" href="/store">Store </a></li>
            </ul>
          </nav>
        </div>
        <div class="container">
          <div class="end">
            <p>Copyright &copy; 2022 Fitness Blender. All rights reserved. <a href="/page/terms-of-use-agreement">Terms of Use</a> <a href="/page/privacy-policy">Privacy Policy</a></p>
            <ul class="nav-smicons footer-smicons">
              <li class="youtube-smi"><a href="https://www.youtube.com/user/FitnessBlender" target="_blank"><span
                    class="iconfont-youtube-play"></span><span class="sr-only">YouTube</span></a></li>
              <li class="pinterest-mi"><a href="https://pinterest.com/FitnessBlender/" target="_blank"><span
                    class="iconfont-pinterest"></span><span class="sr-only">Pinterest</span></a></li>
              <li class="facebook-smi"><a href="https://www.facebook.com/pages/FitnessBlendercom/151085874942542"
                                          target="_blank"><span class="iconfont-facebook"></span><span class="sr-only">Facebook</span></a>
              </li>
              <li class="instagram-smi"><a href="https://instagram.com/fitnessblender/#" target="_blank"><span
                    class="iconfont-instagram"></span><span class="sr-only">Instagram</span></a></li>
              <li class="twitter-smi"><a href="https://twitter.com/FitnessBlender" target="_blank"><span
                    class="iconfont-twitter"></span><span class="sr-only">Twitter</span></a></li>
            </ul>
          </div>
        </div>
      </footer>
  
  <script src="https://cloudfront.fitnessblender.com/assets/bundle/app-543505ebf864a79cd535.js"></script>

</body>
</html>
