body{
    margin: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
  }

   .sidenav h1{
      position: relative;
      bottom: 30px;
  } 
.sidenav {
    min-height: 18.7cm;
    width: 310px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding: 8px 0;
    background-color: #8e99a2;
    
}
.pancreasdis{
    background-color: #253439;
    color: #fff6ea;
    display: fixed;
    padding: 21.3px;
    position: fixed;
    /* padding-right: 1.8cm; */
}


.heartdis{
    background-color: #253439;
    color: #fff6ea;
    display: fixed;
    padding: 21.3px;
    position: fixed;
    padding-right: 1.8cm;
}
.respiratorydis{
    background-color: #253439;
    color: #fff6ea;
    display: fixed;
    padding: 15px;
    position: fixed;
    padding-left: 1.7cm;
    padding-right: 1.71cm;
    
}
.bladdercon{
    background-color: #253439;
    color: #fff6ea;
    display: fixed;
    padding: 21.3px;
    position: fixed;
    
}
.digdis{
    background-color: #253439;
    color: #fff6ea;
    display: fixed;
    padding: 21.3px;
    position: fixed;
}

.sidenav h2{
    position: relative;
    top: 70px;
}
h2 div{
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 15px;
}  
.content {
      margin-left: 300px; /* Same width as the sidebar + left position in px */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 20px;
  }
.sidenav a {
    padding: 13px 8px 6px 16px;
    text-decoration: none;
    font-size: 28px;
    color: #000000;
    display: block;
    position: relative;
    right: 15px;
}
  
.sidenav a:hover {
    color: #303335;
}
.disnames{
    position: relative;
    left: 23px;
}
.mainames{
    position: relative;
    bottom: 3cm;
}

.heartdmainames{
    position: relative;
    bottom: 3.7cm;
    right: 20px;
    padding-bottom: -50px !important;
}